<!doctype html>
<html  lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Wake Up and Grow</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link href="https://fonts.googleapis.com/css?family=Lato|Roboto+Condensed|Oswald&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/header.css">
</head>


<body>
  <!-- Navigation -->
  <header class="textCenter clearfix">
    <div class="topLinks">
      <a href="/login" class="btn btn-default">Login</a>
      <a href="/signup" class="btn btn-default">Signup</a>
    </div>
  </header>

  <!-- Main -->
  <section class="main">
    <div class="feature1 clearfix">
      <img src="/img/text.png" class="floatLeft mobileHide">
      <div class="feature floatLeft mobileHide">
        <h4>Simplified Mornings for Success</h4>
        <p>In a fast-paced world where "wake up and go" is the norm- Wake Up and Grow is a soft rebellion, reclaiming mornings as your own. Our application is simple to use so you can spend more time doing the things that light you up and get you out
          of bed in the morning. With text reminders including messages that you set yourself- your goals will no longer be sitting idly somewhere unchecked. Not to mention accountability just got easier with encouragement from friends sent straight to your phone. Here, growth is a celebration. Cheers to you and all that you're becoming.</p>
      </div>
      <img src="/img/loginPhoto.png" class="hide mobileShow">
    </div>

</body>

</html>
