<!doctype html>
<html>

<head>
  <title>Wake Up and Grow</title>
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link href="https://fonts.googleapis.com/css?family=Zhi+Mang+Xing|Roboto+Condensed|Oswald|Shadows+Into+Light&display=swap" rel="stylesheet">
</head>


<body>
  <!-- Navigation -->
  <header class="textCenter">
    <div class="topLinks">
      <a href="/login" class="btn btn-default"></span>Login</a>
      <a href="/signup" class="btn btn-default"></span>Signup</a>
    </div>

    <h1>- Wake Up and Grow -</h1>
    <h2>TAGLINE</h2>
  </header>

  <!-- Main -->
  <section class="main">
    <div class="feature1 clearfix">
      <div class="feature floatLeft">
        <h4>FEATURE</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
          aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <img src="img/orange.jpeg" class="floatRight">
    </div>

    <div class="feature2 clearfix">
      <div class="feature floatRight">
        <h4>FEATURE</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
          aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <img src="img/orange.jpeg" class="floatLeft">

    </div>

    <div class="feature3 clearfix">
      <img src="img/orange.jpeg" class="floatRight">
      <div class="feature floatLeft">
        <h4>FEATURE</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
          aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
  </section>


  <!-- Footer -->
  <footer class="textCenter clear">
    <h3>Wake Up and Grow</h3>
    <p>Copyright Ellie Nguyen Dev. 2019</p>
  </footer>



</body>

</html>
