<!doctype html>
<html>

<head>
  <title>Wake Up and Grow</title>
  <link href="https://fonts.googleapis.com/css?family=Zhi+Mang+Xing|Roboto+Condensed|Oswald|Shadows+Into+Light&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/login.css">
  <link rel="stylesheet" href="/css/header.css">
</head>

<body>
  <header class="textCenter">
    <h1>- Wake Up and Grow -</h1>
  </header>
  <div class="container clearfix">

    <div class="quote floatLeft">
      <h3>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</h3>
    </div>

    <div class="login floatLeft">
      <% if (message.length > 0) { %>
      <div class="alert alert-danger"><%= message %></div>
      <% } %>
      <!-- SIGNUP FORM -->
      <form action="/signup" method="post">

        <label>Name</label>
        <input type="text" id="firstName" name="name" placeholder="Enter Your Name">

        <label>Username</label>
        <input type="text" class="form-control" name="username" placeholder="No Spaces Please!">

        <label>Phone Number</label>
        <input type="tel" id="phoneNumber" name="number" placeholder="10 digits. No Spaces Please!" value="">

        <label for="optIn">Opt-in for daily text reminders and encouragement: </label>
        <select id="optIn" class="optIn" name="optIn">
          <option value="yes">Yes</option>
          <option value="no">No</option>
        </select>

        <label>Email</label>
        <input type="text" class="form-control" name="email" placeholder="Enter Your Email">

        <label>Password</label>
        <input type="password" class="form-control" name="password" placeholder="Enter Your Password">

        <button type="submit" id="signUpButton" class="btn btn-warning btn-lg">Signup</button>
      </form>

      <p>Already have an account? <a href="/login">Login</a></p>
      <p>Or go <a href="/">home</a>.</p>
    </div>
  </div>

</body>

</html>
